<div class="modal-header">  
  <h4 class="modal-title"><small>Fee for </small>{{ student.firstName }} {{ student.lastName }}</h4>
  <button type="button" class="close" aria-label="Close" (click)="onDismiss()">
    <i class="fa fa-times" aria-hidden="true"></i>
  </button>
</div>
    
<div class="modal-body">
  <form [formGroup]="feeForm" (ngSubmit)="onSubmit()" novalidate>
    
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Fee</label>
      <div class="col-sm-9">
        <select class="form-control" formControlName="fee">
          <option *ngFor="let fee of fees" [value]="fee.$key">{{ fee.name }}</option>
        </select>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Details</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" [class.is-invalid]="details.touched && details.invalid" formControlName="details">
        <div class="invalid-feedback" [hidden]="!(details.touched && details.hasError('required'))">
          Details is required.
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Payment Options</label>
      <div class="col-sm-9">
        <select class="form-control" formControlName="paymentOption">
          <option *ngFor="let paymentOption of paymentOptions" [value]="paymentOption.value">{{ paymentOption.displayValue }}</option>
        </select>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Amount</label>
      <div class="col-sm-9">
        <input type="number" class="form-control" formControlName="amount" [formatNumber]="amount.value">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Date</label>
      <div class="col-sm-9">
        <input type="date" class="form-control" formControlName="date">
      </div>
    </div>

  </form>
</div>
    
<div class="modal-footer">
  <button type="button" class="btn btn-outline-danger" (click)="onDismiss()" [disabled]="isSaving">
    <i class="fa fa-times" aria-hidden="true"></i> Cancel
  </button>
  <button type="submit" class="btn btn-success" (click)="onSubmit()" [disabled]="feeForm.invalid || isSaving">
    <i class="fa fa-check" aria-hidden="true"></i> Save
  </button>
</div>