<ngb-pagination [collectionSize]="rowCount" [(page)]="page" (pageChange)="onPageChange($event)"></ngb-pagination>
<pre>
  Row Count: {{ rowCount }}
  Page: {{ page }}
</pre>
<table class="table table-sm table-striped table-hover">
  <thead>
    <tr>
      <th></th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Grade</th>
      <th>Last Payment Made</th>
      <th>Current Balance</th>
  </thead>
  <tbody>
    <tr *ngFor="let student of students">
      <td>
        <!--<button type="button" class="btn btn-sm btn-outline-primary">
          <i class="fa fa-pencil" aria-hidden="true"></i>
        </button></td>-->
      <td>{{ student.firstName }}</td>
      <td>{{ student.lastName }}</td>
      <td>{{ student.grade }}</td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>