<div class="row">
  <div class="col-sm-4">
    <summary-chart></summary-chart>
  </div>
</div>

<div *ngIf="!isLoading; else loading">
  <ngb-pagination
    [collectionSize]="totalCount"
    [(page)]="page"
    (pageChange)="onPageChange($event)">
  </ngb-pagination>

  <a [routerLink]="['student']" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> New</a>
  <div class="table-responsive">
    <table class="table table-sm table-striped table-hover">
      <thead>
        <tr>
          <th></th>
          <th class="text-center">Name</th>
          <th class="text-center">Grade</th>
          <th class="text-center">Payment Option</th>
          <th class="text-center">Last Payment Made</th>
          <th class="text-center">Current Balance</th>
      </thead>
      <tbody>
        <tr *ngFor="let student of students">
          <td></td>
          <td>
            <a [routerLink]="['student', student.$key]">{{ student.firstName }} {{ student.lastName }}</a>
            <span class="badge badge-danger" *ngIf="student.account?.balance > 0">outstanding</span>
          </td>
          <td class="text-center">{{ student.grade | displayGrade }}</td>
          <td class="text-center"><span class="badge badge-primary">{{ student.paymentOption }}</span></td>
          <td class="text-center">{{ student.account?.lastPayment | naDate:'dd MMM yyyy' }}</td>
          <td class="text-right px-3">{{ student.account?.balance | number:'1.2-2' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #loading>
  Loading...
</ng-template>