<div *ngIf="!isLoading; else loading">
  <button class="btn btn-primary" (click)="newFee()">New</button>
  <hr/>
  <div class="card">
    <div class="card-header">
      <strong>Class Fees</strong>
    </div>
    <div class="card-block">
      <table class="table table-responsive table-sm table-striped table-hover">
        <thead>
          <tr>
            <th></th>
            <th class="text-center">Name</th>
            <th class="text-center">Monthly</th>
            <th class="text-center">Termly</th>
            <th class="text-center">Annually</th>
        </thead>
        <tbody>
          <tr *ngFor="let classFee of classFees">
            <td></td>
            <td><a href="javascript:void(0)" (click)="editFee(classFee)">{{ classFee.name }}</a></td>
            <td class="text-right px-3">{{ classFee.monthly | number:'1.2-2' }}</td>
            <td class="text-right px-3">{{ classFee.termly | number:'1.2-2' }}</td>
            <td class="text-right px-3">{{ classFee.annually | number:'1.2-2' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <br/>
  <div class="card">
    <div class="card-header">
      <strong>Private Fees</strong>
    </div>
    <div class="card-block">
      <table class="table table-responsive table-sm table-striped table-hover">
        <thead>
          <tr>
            <th></th>
            <th class="text-center">Name</th>
            <th class="text-center">Single</th>
            <th class="text-center">Monthly</th>
            <th class="text-center">Termly</th>
        </thead>
        <tbody>
          <tr *ngFor="let privateFee of privateFees">
            <td></td>
            <td><a href="javascript:void(0)" (click)="editFee(privateFee)">{{ privateFee.name }}</a></td>
            <td class="text-right px-3">{{ privateFee.single | number:'1.2-2' }}</td>
            <td class="text-right px-3">{{ privateFee.monthly | number:'1.2-2' }}</td>
            <td class="text-right px-3">{{ privateFee.termly | number:'1.2-2' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <br/>
  <div class="card">
    <div class="card-header">
      <strong>Pre-school Fees</strong>
    </div>
    <div class="card-block">
      <table class="table table-responsive table-sm table-striped table-hover">
        <thead>
          <tr>
            <th></th>
            <th class="text-center">Name</th>
            <th class="text-center">Monthly</th>
            <th class="text-center">Termly</th>
            <th class="text-center">Annually</th>
        </thead>
        <tbody>
          <tr *ngFor="let preschoolFee of preschoolFees">
            <td></td>
            <td><a href="javascript:void(0)" (click)="editFee(preschoolFee)">{{ preschoolFee.name }}</a></td>
            <td class="text-right px-3">{{ preschoolFee.monthly | number:'1.2-2' }}</td>
            <td class="text-right px-3">{{ preschoolFee.termly | number:'1.2-2' }}</td>
            <td class="text-right px-3">{{ preschoolFee.annually | number:'1.2-2' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
  
<ng-template #loading>
  Loading...
</ng-template>