<div *ngIf="!isLoading; else loading">
  <div class="btn-group">
    <button type="button" class="btn btn-primary" (click)="newFee()">New Fee</button>
    <div class="btn-group" ngbDropdown role="group" placement="bottom-right">
      <button class="btn btn-primary dropdown-toggle-split" ngbDropdownToggle></button>
      <div class="dropdown-menu" ngbDropdownMenu>
        <button class="dropdown-item" (click)="newFee('class')">Class Fee</button>
        <button class="dropdown-item" (click)="newFee('private')">Private Fee</button>
        <button class="dropdown-item" (click)="newFee('preschool')">Pre-school Fee</button>
      </div>
    </div>
  </div>

  <hr/>
  
  <div class="list-group">
    <a *ngFor="let fee of fees" href="#" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <div class="mb-1">
          <h6>{{ fee.name }}<small> - {{ fee.accountName }}</small></h6>
        </div>        
        <h5>{{ fee.amount | number:'1.2-2' }}</h5>
      </div>
      <p *ngIf="!!fee.paymentOption">{{ formatPaymentOption(fee.paymentOption) }}</p>
    </a>
  </div>

  <!-- <div class="card">
    <div class="card-header">
      <strong>Class Fees</strong>
    </div>
    <div class="card-block table-responsive">
      <table class="table table-sm table-striped table-hover">
        <thead>
          <tr>
            <th></th>
            <th class="text-center">Name</th>
            <th class="text-center">Account</th>
            <th class="text-center">Monthly</th>
            <th class="text-center">Termly</th>
            <th class="text-center">Annually</th>
        </thead>
        <tbody>
          <tr *ngFor="let classFee of classFees">
            <td></td>
            <td><a href="javascript:void(0)" (click)="editFee(classFee)">{{ classFee.name }}</a></td>
            <td class="">{{ classFee.accountName }}</td>
            <td class="text-right px-3">{{ classFee.amount.monthly | number:'1.2-2' }}</td>
            <td class="text-right px-3">{{ classFee.amount.termly | number:'1.2-2' }}</td>
            <td class="text-right px-3">{{ classFee.amount.annually | number:'1.2-2' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <br/>
  <div class="card">
    <div class="card-header">
      <strong>Private Fees</strong>
    </div>
    <div class="card-block table-responsive">
      <table class="table table-sm table-striped table-hover">
        <thead>
          <tr>
            <th></th>
            <th class="text-center">Name</th>
            <th class="text-center">Account</th>
            <th class="text-center">Single</th>
            <th class="text-center">Monthly</th>
            <th class="text-center">Termly</th>
        </thead>
        <tbody>
          <tr *ngFor="let privateFee of privateFees">
            <td></td>
            <td><a href="javascript:void(0)" (click)="editFee(privateFee)">{{ privateFee.name }}</a></td>
            <td class="">{{ privateFee.accountName }}</td>
            <td class="text-right px-3">{{ privateFee.amount.single | number:'1.2-2' }}</td>
            <td class="text-right px-3">{{ privateFee.amount.monthly | number:'1.2-2' }}</td>
            <td class="text-right px-3">{{ privateFee.amount.termly | number:'1.2-2' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <br/>
  <div class="card">
    <div class="card-header">
      <strong>Pre-school Fees</strong>
    </div>
    <div class="card-block table-responsive">
      <table class="table table-sm table-striped table-hover">
        <thead>
          <tr>
            <th></th>
            <th class="text-center">Name</th>
            <th class="text-center">Account</th>
            <th class="text-center">Termly</th>
            <th class="text-center">Annually</th>
        </thead>
        <tbody>
          <tr *ngFor="let preschoolFee of preschoolFees">
            <td></td>
            <td><a href="javascript:void(0)" (click)="editFee(preschoolFee)">{{ preschoolFee.name }}</a></td>
            <td class="">{{ preschoolFee.accountName }}</td>
            <td class="text-right px-3">{{ preschoolFee.amount.termly | number:'1.2-2' }}</td>
            <td class="text-right px-3">{{ preschoolFee.amount.annually | number:'1.2-2' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div> -->

</div>
  
<ng-template #loading>
  Loading...
</ng-template>