<nav class="navbar fixed-top navbar-expand-md navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Navbar</a>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbar1">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
    </ul>
    <form>
        <search-student (studentSelected)="onStudentSelected($event)"></search-student>
    </form>
  </div>
</nav>

<div class="container">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active">Statements</li>
  </ol>

  <!--<button (click)="anonSignin()">Anon</button>
  <button (click)="logout()">Logout</button>
  <p>Current User: {{ currentUser }}</p>-->

  <router-outlet></router-outlet>

</div>