<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Navbar</a>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbar1">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active">Statements</li>
  </ol>

  <ng-template #rt let-r="result" let-t="term">
    <ngb-highlight [result]="r.firstName + ' ' + r.lastName" [term]="t"></ngb-highlight> - <i>{{ r.grade }}</i>
  </ng-template>

  <div class="input-group">
    <div class="input-group-addon"><i class="fa fa-search"></i></div>
    <input
      class="form-control"
      placeholder="Find student..."
      [(ngModel)]="selected"
      [ngbTypeahead]="searchStudent"
      [resultTemplate]="rt"
      [inputFormatter]="inputFormatter"
      (selectItem)="selectItem($event)">
  </div>

  <app-student-list></app-student-list>

</div>