<div class="container">
  <h2>Andrea Hummerstone</h2>
  <!--<button class="btn btn-success" (click)="onSuccess()">Success</button>
  <button class="btn btn-danger" (click)="onError()">Error</button>-->
  <!--<alert></alert>-->
  <table class="table table-sm table-striped table-hover">
    <thead>
      <tr>
        <th>Date</th>
        <th>Details</th>
        <th>Debit</th>
        <th>Credit</th>
        <th>Balance</th>
    </thead>
    <tbody>
      <tr *ngFor="let line of statement">
        <td>{{ line.date | date:'dd MMM yyyy' }}</td>
        <td>{{ line.details }}</td>
        <td class="text-right">{{ line.debit | number:'1.2-2' }}</td>
        <td class="text-right">{{ line.credit | number:'1.2-2' }}</td>
        <td class="text-right">{{ line.balance | number:'1.2-2' }}</td>
      </tr>
    </tbody>
  </table>
  <hr/>
  <div>
    Amount {{ currentBalance >= 0 ? 'Due' : 'Owed' }}:<br/>
    {{ currentBalance | number:'1.2-2' }}
  </div>
</div>