<div class="modal-header">
  <h4 class="modal-title">Fees</h4>
  <button type="button" class="close" aria-label="Close" (click)="onDismiss()">
    <i class="fa fa-times" aria-hidden="true"></i>
  </button>
</div>
  
<div class="modal-body">
  <form [formGroup]="feeForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Name</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" [class.is-invalid]="name.touched && name.invalid" formControlName="name" />
        <div class="invalid-feedback" [hidden]="!(name.touched && name.hasError('required'))">
          Fee name is required.
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Account</label>
      <div class="col-sm-8">
        <select class="form-control" formControlName="accountId">
          <option *ngFor="let account of accounts$ | async" [value]="account.id">{{ account.name }}</option>
        </select>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Fee Type</label>
      <div class="col-sm-8">
        <select class="form-control" formControlName="type">
          <option *ngFor="let feeType of feeTypes" [value]="feeType.id">{{ feeType.name }}</option>
        </select>
      </div>
    </div>

    <div class="form-group row" *ngIf="hasGrades.value">
      <label class="col-sm-4 col-form-label">Grade</label>
      <div class="col-sm-8">
        <select class="form-control" formControlName="grade">
          <option *ngFor="let grade of grades$ | async" [value]="grade.id">{{ grade.name }}</option>
        </select>
        <input type="hidden" >
      </div>
    </div>

    <div class="form-group row" *ngIf="hasPaymentOptions.value">
      <label class="col-sm-4 col-form-label">Payment Option</label>
      <div class="col-sm-8">
        <select class="form-control" formControlName="paymentOption">
          <option *ngFor="let paymentOption of paymentOptions" [value]="paymentOption.value">{{ paymentOption.displayValue }}</option>
        </select>
      </div>
    </div>

    

    <!-- hasPaymentOptions.value {{ hasPaymentOptions.value }} <br/>
    paymentOption.status: {{ paymentOption.status }} <br/>
    paymentOption.valid: {{ paymentOption.valid }} -->

    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Amount</label>
      <div class="col-sm-8">
        <div class="input-group" [class.is-invalid]="amount.touched && amount.invalid">
          <span class="input-group-addon">R</span>
          <input type="number" class="form-control" [class.is-invalid]="amount.touched && amount.invalid" formControlName="amount" />
          <span class="input-group-addon">.00</span>
        </div>
        <div class="invalid-feedback" [hidden]="!(amount.touched && amount.hasError('required'))">
          Amount is required.
        </div>
        <div class="invalid-feedback" [hidden]="!(amount.touched && amount.hasError('greaterThanZero'))">
          Amount must be greater than zero.
        </div>
      </div>
    </div>
    
  </form>
</div>
  
<div class="modal-footer">
  <button type="button" class="btn btn-outline-danger" (click)="onDismiss()" [disabled]="isSaving">
    <i class="fa fa-times" aria-hidden="true"></i> Cancel
  </button>
  <button type="submit" class="btn btn-success" (click)="onSubmit()" [disabled]="feeForm.invalid || isSaving">
    <i class="fa fa-check" aria-hidden="true"></i> Save
  </button>
</div>